.allpackdiv{
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
    flex-flow: wrap;
    margin-bottom: 20px;
}

.packitem{
    width: 120px;
    text-align: center;
    margin-top: 10px;
}

.packitem select{
    text-align: center;
}

.packitem option{
    text-align: left I !important;
}

.destinationform{
    width: 37%;
    margin-left: auto;
    margin-right: auto;
    min-width: 269px;
}

.searchdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-bottom: 10px;
}